*{
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url(bg.jpeg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1000px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float:left;
    height: 70px;
}

.logo{
    color: rgb(47, 252, 194);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 800px;
    height: 70px;
    float: left;
}

ul{
    float:left;
    display:flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}

form{
    width: 700px;
    height: 650px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: bold;
    padding: 20px;
}

form h3{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    border-radius: 10px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

form input, select{
    background:transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 15px;
}

form input:focus{
    outline:none;
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form section{
    padding: 1pc;
}

.certi_info input,.certi_info select{
    width: 650px;
}


.certi_date{
    width: 650px;
    display: flex;
    gap:30px;
}

.certi_checkbox{
    
    margin-top: 20px;
}

.certi_date .certi_checkbox{
    margin-left: 80px;

}

.certi_score{
    width: 650px;
    display: flex;
    gap:20px;
}

.certi_score div{
    padding-left: 0;
}
.certi_score .ip_score{
    width: 370px;
}

.des input{
    width: 650px;
    line-height: 5em;
    border: 1px solid #ff7200;
}

.save_reset_cancel{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap:20px
}

.save_reset_cancel button{
    width: 240px;
    height: 40px;
    background: white;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    transition: 0.4s ease;
}

.save_reset_cancel button:hover{
    background: #ff7200;
}
