*{
    margin: 0;
    padding: 0;
}

body{
    background-color: dodgerblue;
    /*
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; 
    */
    
}

form{
    margin: 0 auto;
    width: 800px;
    font-weight: bold;
    font-family: Sans-serif;
    border: 2px solid black;
}

form input, select{
    font-size: 16px;
}

form section{
    padding-left: 15px;
}

.info input, select{
    width: 650px;
}

.date{
    margin-top: 10px;
    width: 650px;
    height: 60px;
    display: flex;
    gap: 30px;
}

.cert_checkbox{
    margin-top: 25px;
}


.date .cert_checkbox{
    margin-left: -10px;
}

.score .cert_checkbox{
    margin-left: 9px;
}

.score{
    width: 750px;
    display: flex;
    gap: 10px;
}

#score_box{
    width: 295px;
}

.description input{
    width: 650px;
    height: 80px;
}

.buttons{
    display: flex;
    gap: 30px;
}

.buttons button{
    width: 60px;
    height: 20px;
}






